@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-padding: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.container {
  margin-inline: auto;
  padding-block: 8px;
}

.page {
  min-height: 100vh;
  background-color: #f9eeff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--main-padding);
}

.page > img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  padding: var(--main-padding);
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.page .head {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: var(--main-padding);
}

.q-box {
  border-bottom: 2px solid #faf9ff;
  padding: 12px;
}

.q-box .q {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--main-padding);
}

.q-box .qt {
  font-weight: 700;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  cursor: pointer;
}

.q-box .qt:hover {
  color: #a92fe9;
}

.q-box .icons {
  width: 30;
  height: 30px;
  position: relative;
}

.q-box .icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.q-box .icons img.show {
  opacity: 1;
}

.q-box .ans {
  display: none;
  padding-inline: 12px;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform-origin: center top;
}

.q-box .ans.dis {
  display: block;
}

.q-box .ans.open {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}
